<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='starbucks.png' rel='stylesheet'>
    <link rel="stylesheet" href="css/signupstyle.css" type="text/css">
    <title>SignUp</title>
</head>
<body>
    
    <div class="circle"></div>
    <div class="card">
        <div class="logo">
            <i class='starbucks'></i>
            <img src="">
        </div>
        <h2>Create Account</h2>
        <form class="form" method="post" action="signup">
            <input type="email" name="USER_EMAIL" placeholder="Email" autofocus="on">
            <input type="text" name="USER_NAME" placeholder="Name">
            <input type="password" name="USER_PW" placeholder="Password">
            <input type="phone" name="USER_PHONE" placeholder="PhoneNumber">
            <button type="submit">SIGN UP</button>
        </form>
        <footer>
            Existing users, sign in
            <a href="#">Here</a>
        </footer>
    </div>
</body>
</html>