<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='starbucks.png' rel='stylesheet'>
  <link rel="stylesheet" href="css/signupstyle.css" type="text/css">
  <title>login</title>
</head>
<body>

<div class="circle"></div>
<div class="card">
  <div class="logo">
    <i class='starbucks'></i>
    <img src="">
  </div>
  <h2>Create Account</h2>
  <form class="form" method="post" action="login">
    <input type="email" name="email" placeholder="Email" autofocus="on">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">login</button>
  </form>
  <footer>
    Existing users, sign in
    <a href="#">Here</a>
  </footer>
</div>
</body>
</html>